#password_output {
    height: 10vh;
    width: 30vw;
    text-align: center;
    margin: 2vh, 4vw;
}

.outPut {
    padding: 3vh;
    margin: 3vh, 6vw;
    border: 1vh, 1vw;
    border-style: solid;
    text-align: center;
    background: white;
}

body {
    background: black;
}

h3 {
    color: white;
}